<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mx-auto">
        <p>Results-driven Geographer with expertise in project management, Geographic Information Systems (GIS), remote sensing and earth observation.</p>
      </div>
      <div class="col-lg-4 mx-auto"></div>
        <p>Skilled in spatial data analysis, defense mapping and data visualization, with a proven track record of successfully
           leading infrastructure planning projects from initial concept to execution! </p>
      </div>
    </div>
  </div>
</section>
