<!-- About Section -->
<section class="success" id="about" style="background-color: black; color: white; padding: 50px 0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="color: white;">About</h2>
        <hr class="star-light" style="border-color: white; width: 50px;">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center"></div>
        <p>Results-driven Geographer with expertise in project management, Geographic Information Systems (GIS), remote sensing and earth observation. Skilled in spatial data analysis, defense mapping and data visualization, with a proven track record of successfully leading infrastructure planning projects from initial concept to execution!</p>
        <p>Passionate about leveraging technology to solve real-world problems and improve decision-making processes. Adept at collaborating with cross-functional teams to deliver high-quality results on time and within budget.</p>
      </div>
    </div>
  </div>
</section>