<!-- About Section -->
<section class="success" id="About">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="margin-top: 40px;">Hello, I am Ayhan!</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>I am a geospatial and environmental planning professional with expertise in GIS, remote sensing, and data-driven sustainability solutions. With a background in geography, urban planning, and project management, I specialize in leveraging spatial analysis, machine learning, and geospatial intelligence to support infrastructure development, land monitoring, and climate resilience initiatives.</p>
      </div>
      <div class="col-lg-6">
        <p>My experience includes leading fiber-optic network expansion projects, conducting large-scale land use assessments, and applying advanced satellite imagery analysis for ecological conservation and risk mitigation. I have worked across sectors to integrate geospatial insights into planning frameworks, ensuring data-driven decision-making for sustainable urban and environmental development.

          I am passionate about using geospatial technologies and strategic planning to enhance community resilience, optimize infrastructure, and drive informed policy action.
          </p>
      </div>
    </div>
  </div>
</section>


