<!-- About Section -->
<section class="success" id="Hi, I am Ayhan!">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="margin-top: 20px;">About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8"></div>
      <div class="col-lg-8 col-lg-offset-2">
        <p>Results-driven Geographer with expertise in project management, Geographic Information Systems (GIS), remote sensing, and earth observation. Skilled in spatial data analysis, defense mapping, and data visualization, with a proven track record of successfully leading infrastructure planning projects from initial concept to execution.</p>
      </div>
    </div>
  </div>
</section>