<!-- About Section -->
<section class="success" id="About">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 style="margin-top: 40px;">Hello, I am Ayhan!</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <p>Results-driven Geographer with expertise in project management, Geographic Information Systems (GIS), remote sensing, and earth observation. Skilled in spatial data analysis, defense mapping, and data visualization, with a proven track record of successfully leading infrastructure planning projects from initial concept to execution.</p>
      </div>
      <div class="col-lg-6">
        <p>Experienced in collaborating with cross-functional teams to deliver high-quality geospatial solutions. Adept at utilizing advanced GIS software and tools to create detailed maps and models that support decision-making processes. Passionate about leveraging technology to solve complex geographical challenges and improve operational efficiency.</p>
      </div>
    </div>
  </div>
</section>